BODY
{
font-family:宋体;FONT-SIZE: 9pt;COLOR: #000000; margin-left:0; margin-top:0;margin-right:0;margin-bottom:0; font-size:9pt;
scrollbar-face-color:#CDE2F7; scrollbar-shadow-color:#ffffff;
scrollbar-highlight-color:#ffffff; scrollbar-3dlight-color:#00428E;
scrollbar-darkshadow-color:#00428E; scrollbar-track-color:#E4F1FF;
scrollbar-arrow-color:#00428E;
}

TD
{
FONT-FAMILY:宋体;
FONT-SIZE: 9pt;
}

.input {
	font-size: 12px;
	color: #000000;
	border: 1px solid #828281;
	background: #E5E5E5;
}

.input1 {
	font-size: 12px;
	color: #000000;
	border: 1px solid #000000;
	background: #FFFFFF;
}

.button1 {
	font-size: 12px;
	line-height: 8px;
	background-image: url(an1.jpg);
	border: 0px solid;
	color: #000000;
	width: 63px;
	padding-top: 4px;
	padding-left: 0px;
}

.button3 {
	font-size: 12px;
	line-height: 8px;
	background-image: url(an3.jpg);
	border: 0px solid;
	color: #000000;
	width: 90px;
	padding-top: 4px;
	padding-left: 0px;
}

a:visited {color:blue;text-decoration:underline}
a:hover {color:#A5BAD9;text-decoration:none}
a:link { color:blue;text-decoration:underline}

a.a1:visited {FONT-SIZE: 13px;color:#FFFFFF;text-decoration:none}
a.a1:hover {FONT-SIZE: 13px;color:#FFFFFF;text-decoration:underline}
a.a1:link {FONT-SIZE: 13px;color:#FFFFFF;text-decoration:none}

a.a2:visited {color:#FFFFFF;text-decoration:none}
a.a2:hover {color:#FFFFFF;text-decoration:underline}
a.a2:link {color:#FFFFFF;text-decoration:none}

a.a3:visited {color:#002D69;text-decoration:none;font-weight: bold}
a.a3:hover {color:#000000;text-decoration:underline;font-weight: bold}
a.a3:link {color:#002D69;text-decoration:none;font-weight: bold}

a.a4:visited {color:#425C82;text-decoration:none;font-weight: bold}
a.a4:hover {color:#000000;text-decoration:underline;font-weight: bold}
a.a4:link {color:#425C82;text-decoration:none;font-weight: bold}

.t1 {FONT-SIZE: 12px; COLOR: #FFFFFF; FONT-FAMILY: "宋体"}
.t2 {FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体";font-weight: bold}
.t3 {FONT-SIZE: 16px; COLOR: #0043A5; FONT-FAMILY: "宋体";font-weight: bold}
.t4 {FONT-SIZE: 12px; COLOR: #FF0000; FONT-FAMILY: "宋体"}
.t5 {FONT-SIZE: 14px; COLOR: #FE6A00; FONT-FAMILY: "宋体";font-weight: bold}

.x1 a:link {
	font-size: 12px;
	text-decoration: none;
	color: #213655;
	font-weight:bold;
	line-height: 50px;
	width: 75px;
	background-image: url(menu01_1.jpg);
}
.x1 a:visited
{
	font-size: 12px;
	text-decoration: none;
	color: #213655;
	font-weight: bold;
	line-height: 50px;
	width: 75px;
	background-image: url(menu01_1.jpg);
}
.x1 a:hover {
	font-size: 12px;
	color:#000000;
	font-weight: bold;
	text-decoration: none;
	line-height: 50px;
	width: 75px;
	background-image: url(menu01_2.jpg);
}
.x1 a:active {
	font-size: 12px;
	color:#000000;
	font-weight: bold;
	text-decoration: none;
	line-height: 50px;
	width: 75px;
	background-image: url(menu01_2.jpg);
}

.x2 a:visited{
	font-size: 13px;
	color:#FE6A00;
	font-weight: bold;
	text-decoration: none;
	line-height: 50px;
	width: 75px;
	background-image: url(menu01_2.jpg);
}

.query_table1
{
	background-color:#A5BAD9; font-size: 12px; color :#000000
}

.query_top1
{
    font-size: 12px; line-height: 18px;
	background-color:#D5E3F7;
}

.query_td1
{
    font-size: 12px; line-height: 18px;
	background-color:#F0F6FF;
}

.query_td2
{
    font-size: 12px; line-height: 18px;
	background-color:#ffffff;
}

.x3 a:link {
	font-size: 12px;
	text-decoration: none;
	color: #213655;
	font-weight:bold;
	line-height: 50px;
	width: 144px;
	background-image: url(menu02_1.jpg);
}
.x3 a:visited
{
	font-size: 12px;
	text-decoration: none;
	color: #213655;
	font-weight: bold;
	line-height: 50px;
	width: 144px;
	background-image: url(menu02_1.jpg);
}
.x3 a:hover {
	font-size: 12px;
	color:#000000;
	font-weight: bold;
	text-decoration: none;
	line-height: 50px;
	width: 144px;
	background-image: url(menu02_2.jpg);
}
.x3 a:active {
	font-size: 12px;
	color:#000000;
	font-weight: bold;
	text-decoration: none;
	line-height: 50px;
	width: 144px;
	background-image: url(menu02_2.jpg);
}

.x4 a:visited{
	font-size: 13px;
	color:#FE6A00;
	font-weight: bold;
	text-decoration: none;
	line-height: 50px;
	width: 144px;
	background-image: url(menu02_2.jpg);
}