<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<jsp-config>
		<jsp-property-group>
			<description>
				Special property group for JSP Configuration JSP
				example.
			</description>
			<display-name>JSPConfiguration</display-name>
			<url-pattern>*.inc</url-pattern>
			<el-ignored>true</el-ignored>
			<page-encoding>GBK</page-encoding>
			<scripting-invalid>false</scripting-invalid>
			<include-prelude></include-prelude>
			<include-coda></include-coda>
		</jsp-property-group>
	</jsp-config>
	<mime-mapping>
		<extension>doc</extension>
		<mime-type>application/msword</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xls</extension>
		<mime-type>application/vnd.ms-excel</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ppt</extension>
		<mime-type>application/vnd.ms-powerpoint</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>zip</extension>
		<mime-type>application/zip</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>rar</extension>
		<mime-type>application/rar</mime-type>
	</mime-mapping>
	<!-- 预加载servlet 配置为weblogic部署的项目名 -->
	<servlet>
		<servlet-name>iaicweb</servlet-name>
		<servlet-class>com.macrosoft.icms.util.Constants</servlet-class>
		<init-param>
			<param-name>filename</param-name>
			<param-value>constants.properties</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<!-- 业务逻辑 -->
	<servlet>
		<servlet-name>CommonAjaxAction</servlet-name>
		<servlet-class>
			com.macrosoft.icms.commAjax.CommonAjaxAction
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommonAjaxAction</servlet-name>
		<url-pattern>*.CommonAjaxAction</url-pattern>
	</servlet-mapping>
	<!-- action 控制  by vincent -->
	<servlet>
		<servlet-name>controlAction</servlet-name>
		<servlet-class>
			com.macrosoft.icms.commAjax.ControlAction
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controlAction</servlet-name>
		<url-pattern>*.action</url-pattern>
	</servlet-mapping>
	
	<filter>
	<display-name>IaicWebFilter</display-name>
	<filter-name>IaicWebFilter</filter-name>
	<filter-class>com.macrosoft.icms.util.IaicWebFilter</filter-class>
	</filter>
	<filter-mapping>
	<filter-name>IaicWebFilter</filter-name>
	<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	 <mime-mapping>
        <extension>docx</extension>
        <mime-type>application/msword</mime-type>
    </mime-mapping>
     <mime-mapping>
        <extension>xlsx</extension>
        <mime-type>application/vnd.ms-excel</mime-type>
    </mime-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>
