.title {
	font-weight: bold;
	font-size: 18pt;
}
.tdLable {
	font-weight: bold;
	font-size: 16pt;
}
table {
	border-collapse: collapse;
	border-right: solid #000 1px;
	border-bottom: solid #000 1px;
	line-height: 35px;
	width:100%;	
}

.noBorder {
	border: none;
	}
.noBorder td {
	font-size: 12pt;
	border: none;
	height: 35px;
	text-align: left;
}
.noBorder1 {
	border: none;
	}
.noBorder1 td {
	font-size: 12pt;
	border: none;
	text-align: center;
	height: 35px;
}
div {
	margin-left: auto;
	margin-right: auto;
}

.printWidth {
	margin-top: 20px;
	width: 750px;
}

td {
	font-size: 12pt;
	border-left: solid #000 1px;
	border-top: solid #000 1px;
	text-align: center;
	height: 35px;
	text-align:center;
}

.tdLabel {
	font-size: 12pt;
	width: 170px;
	text-align: center;
}

.tdContent {
	font-size: 12pt;
	/*width: 430px;*/
}

#table ul {
	margin: 0px;
	list-style-type: none;
	/*border-bottom:0px #000 solid; */
	border-left: 0px #000 solid;
}

#table li {
	float: left;
	margin: 0px;
	width: 140px;
	border-right: 1px #000 solid;
	/*border-bottom:1px #000 solid; */
	height: 35px;
}

p {
	font-size: 14pt;
	text-align: left;
	line-height: 33px;
}

.note {
	font-size: 10.5pt;
	text-align: left;
}

@media print {
	.noPrint {
		display: none;
	}
	.PageNext {
		page-break-after: always;
	}
}