drivers=oracle.jdbc.driver.OracleDriver
logfile=/Oracle/Middleware/user_projects/domains/iaic/sanZhengDB.txt
sqllog=/Oracle/Middleware/user_projects/domains/iaic/sanZhengDBlog
#Заµє
sanZhengDB.url=jdbc:oracle:thin:@192.168.4.25:1521:ORCL
sanZhengDB.user=sz_middle_data
sanZhengDB.password=111111
sanZhengDB.maxconn=200
